{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "comments": false,
  "plugins": [
    "external-helpers"
  ]
}